.todo {
	padding: 0;
	margin: 0;
    min-height:100vh;
}

@media all and (min-width: 950px) {
#card1 {
		float: right;
		display: flex;
	}

	.webgl-content .logo, .progress { 
		position: absolute; 
		left: 50%; top: 50%; 
		-webkit-transform: translate(-50%, -50%); 
		transform: translate(-50%, -50%);
	}

	.webgl-content .logo {
		background: url('/assets/webgl/TemplateData/progressLogo.Light.png') no-repeat center / contain; 
		width: 154px; 
		height: 130px;
	}

	.webgl-content .progress {
		height: 18px; 
		width: 141px; 
		margin-top: 90px;
	}

	.webgl-content .progress .empty {
		background: url('/assets/webgl/TemplateData/progressEmpty.Light.png') no-repeat right / cover; 
		float: right; 
		width: 100%; 
		height: 100%; 
		display: inline-block;
	}

	.webgl-content .progress .full {
		background: url('/assets/webgl/TemplateData/progressFull.Light.png') no-repeat left / cover; 
		float: left; 
		width: 0%; 
		height: 100%; 
		display: inline-block;
	}

	.webgl-content .logo.Dark {
		background-image: url('/assets/webgl/TemplateData/progressLogo.Dark.png');
	}

	.webgl-content .progress.Dark .empty {
		background-image: url('/assets/webgl/TemplateData/progressEmpty.Dark.png');
	}

	.webgl-content .progress.Dark .full {
		background-image: url('/assets/webgl/TemplateData/progressFull.Dark.png');
	}

	.webgl-content .footer {
		margin-top: 5px; 
		height: 38px; 
		line-height: 38px; 
		font-family: Helvetica, Verdana, Arial, sans-serif; 
		font-size: 18px;
	}

	.webgl-content .footer .webgl-logo, .title, .fullscreen {
		height: 100%; 
		display: inline-block; 
		background: transparent center no-repeat;
	}

	.webgl-content .footer .webgl-logo {
		background-image: url('/assets/webgl/TemplateData/webgl-logo.png'); 
		width: 204px; 
		float: left;
	}

	.webgl-content .footer .title {
		margin-right: 10px; 
		float: right;
	}

	.webgl-content .footer .fullscreen {
		background-image: url('/assets/webgl/TemplateData/fullscreen.png'); 
		width: 38px; 
		float: right;
	}

	.outer {
	  display: table;
	  height: 100%;
	  width: 100%;
	}

	.middle {
	  display: table-cell;
	  vertical-align: middle;
	}

	.inner {
	  margin-left: auto;
	  margin-right: auto;
	}

	#simu {
		display: contents;
	}

	.video {
		box-shadow: 5px 6px 10px 2px rgba(35, 35, 35, 0.62);
		height: 300px;
		width: 300px;
	}

	.webgl-content {
		width: 450px;
		height: 300px;
	}

	#gameContainer {
		height: 300px;
		width: 450px;
	}

	canvas {
		height: 300px;
		height: 450px;
	}

	#btns_rec {
		box-shadow: 5px 6px 10px 2px rgba(35, 35, 35, 0.62);	
		display: contents;
		margin-top: 20px;
	}

	tr {
		margin-top: 3px;
		margin-bottom: 3px;
	}

	#card1 {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#izquierda {
		margin-left: 20px;
		width: 35%;
	}

	#derecha {
		width: 65%;
	}

	#todo  {
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
		vertical-align: all;
	}
}

@media not all and (min-width: 850px) {
	#simu {
		margin: 20px;
	}

}

.example-h2 {
	margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

