<div id="todo" class="todo" style="text-align:center">
	<div id="izquierda">
		<div id="simu" class="outerL">
			<div class="middle">
				<div class="inner">
					<div class="webgl-content">
						<div id="gameContainer">

						</div>
					</div>
					<div id="btns_rec">
						<button mat-raised-button color="primary" color="primary" (click)="grabar()" [disabled]="rec">Grabar</button>
						<button mat-raised-button color="primary" (click)="detener()" [disabled]="stop">Detener</button>
						<button mat-raised-button color="primary" (click)="descargar()" [disabled]="down">Descargar</button>
					</div>
				</div>
			</div>
		</div>
		<div hidden="true">
			<video id="video" class="video" controls>
				<source src="{{ UrlSrc }}" type="video/webm">
			</video>
		</div>
	</div>
	<div id="derecha">
		<div id="card1" class="outerR">
			<div class="middle">
				<div class="inner">
					<mat-card>
						hola
					</mat-card>
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>